name: Release KMP Library

on:
    push:
        tags:
            - "v*"
permissions:
    contents: write
  
jobs:
    release:
        runs-on: macos-latest

        env:
            FRAMEWORK_NAME: KMPSharedLibrary
            GROUP_ID: com.yourcompany
            ARTIFACT_ID: shared-logic
            USER_NAME: ${{ secrets.USER_NAME }}
            ACCESS_TOKEN: ${{secrets.DEV_ACCESS_TOKEN}}

        steps:
            # ---------------------------
            # Checkout & setup
            # ---------------------------
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up JDK
              uses: actions/setup-java@v4
              with:
                distribution: temurin
                java-version: 17

            - name: Cache Gradle
              uses: actions/cache@v4
              with:
                path: |
                    ~/.gradle/caches
                    ~/.gradle/wrapper
                key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}

            - name: Extract version
              id: version
              run: |
                VERSION=${GITHUB_REF#refs/tags/v}
                echo "version=$VERSION" >> $GITHUB_OUTPUT


            # ---------------------------
            # iOS: Build XCFramework
            # ---------------------------
            - name: Build XCFramework
              run: ./gradlew assemble${{ env.FRAMEWORK_NAME }}XCFramework

            # ---------------------------
            # GitHub Release (iOS binary)
            # ---------------------------
            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
               name: ${{ steps.version.outputs.version }}
               tag_name: v${{ steps.version.outputs.version }}
            #   files: |
            #     shared/build/XCFrameworks/release/${{ env.FRAMEWORK_NAME }}.xcframework.zip

            # ---------------------------
            # iOS: Update SPM wrapper repo
            # ---------------------------
            - name: Push XCFramework to SPM repo
              run: |
                # Clone SPM repo
                git clone https://x-access-token:${{ env.ACCESS_TOKEN }}@github.com/dmytroipatii-hue/SPMSharedLibrary.git
                cd SPMSharedLibrary

                # Clean old framework
                rm -rf ${{ env.FRAMEWORK_NAME }}.xcframework

                # Copy new XCFramework
                cp -R ../shared/build/XCFrameworks/release/${{ env.FRAMEWORK_NAME }}.xcframework \
                    ${{ env.FRAMEWORK_NAME }}.xcframework

                # Git config
                git config user.name "${{ env.USER_NAME }}"

                # Commit & tag
                git add ${{ env.FRAMEWORK_NAME }}.xcframework
                git commit -m "Release ${{ steps.version.outputs.version }}"
                git tag v${{ steps.version.outputs.version }}

                # Push
                git push origin main --tags